{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "plugins": ["cypress"],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/prefer-default-export": "off",
    "jsx-a11y/no-autofocus": "off",
    "react/require-default-props": "off",
    "no-plusplus": "off"
  },
  "globals": {
    "fetch": false,
    "Iterator": true,
    "Generator": true,
    "browser": true,
    "$": true,
    "$$": true
  }
}
